<div class="card">
    <div class="card-header">
        Add new Property
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit(f.form.valid)" #f="ngForm">
            <div class="form-group col-12">
                <label for="name">Name</label>
                <input required name="Name" #Name="ngModel" [(ngModel)]="addPropertyForm.Name" class="form-control" minlength="5">
                <span *ngIf="!Name.valid && Name.touched" class="error-block">
                <!-- <span *ngIf="propName.required">Please provide name</span>
                <span *ngIf="propName.minlength">Name must be atleast 5 char long</span>  -->
                </span>
            </div>
            <div class="form-group col-12">
                <label for="name">Type</label>
                <input type="text" class="form-control" ngModel name="Type">
            </div>
            <div class="form-group col-12">
                <label for="price">Price</label>
                <input type="text" class="form-control" ngModel name="Price">
            </div>
            <div class="form-group col-12">
                <button type="submit" class="btn btn-primary mr-2">Save</button>
                <button type="submit" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>
</div>